<br>
<br>
<div class="content is-medium container level">

<h1 >Blood Sugar Monitor</h1>
<div class="container block">
<div class="buttons no-print container">
  <%= link_to "Add New Reading", new_reading_path, class: "button is-primary" %>
  <button onclick="window.print()" class="button is-info">Print as PDF</button>
</div>

<div class="box no-print">
  <h2 class="title is-5">Chart Date Range</h2>
  <%= form_with url: readings_path, method: :get, local: true, class: "field is-grouped is-grouped-multiline" do %>
    <div class="field">
      <label class="label">Start date</label>
      <div class="control">
        <%= date_field_tag :start_date, @start_date, class: "input" %>
      </div>
    </div>

    <div class="field">
      <label class="label">End date</label>
      <div class="control">
        <%= date_field_tag :end_date, @end_date, class: "input" %>
      </div>
    </div>

    <div class="field is-align-self-flex-end">
      <div class="control">
        <%= submit_tag "Update Range", class: "button is-link" %>
        <%= link_to "Last 7 Days", readings_path, class: "button is-light" %>
      </div>
    </div>
  <% end %>
</div>

<% if @chart_data.any? %>
  <div class="box block">
    <h2 class="title is-4">Blood Sugar Trends</h2>
    <%= line_chart @chart_data, 
        height: "400px",
        colors: ["#3273dc"],
        library: {
          scales: {
            y: {
              beginAtZero: false,
              title: {
                display: true,
                text: "Blood Sugar (mg/dL)"
              }
            },
            x: {
              type: "time",
              time: {
                parser: "yyyy-MM-dd HH:mm",
                tooltipFormat: "MMM dd, yyyy HH:mm",
                displayFormats: {
                  hour: "MMM dd HH:mm",
                  day: "MMM dd",
                  month: "MMM yyyy"
                }
              },
              title: {
                display: true,
                text: "Date & Time"
              }
            }
          },
          plugins: {
            legend: {
              display: false
            }
          }
        } %>
  </div>
<% end %>

<% @readings_by_year.each do |year, readings| %>
  <h2><%= year %></h2>
  <table class="table block">
    <tr>
      <th>Date</th>
      <th>Blood Sugar</th>
      <th>Actions</th>
    </tr>
    <% readings.each do |reading| %>
      <tr>
        <td><%= reading.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%b %d, %Y %H:%M %Z") %></td>
        <td><%= reading.blood_sugar %></td>
        <td>
          <%= link_to "Delete", reading_path(reading), class: "button is-small is-success", method: :delete, data: { confirm: "Are you sure?" } %>
          <%= link_to "Edit", edit_reading_path(reading), class: "button is-small is-warning" %>
        </td>
        
        </tr>
    <% end %>
  </table>

<% end %>

<%= link_to "Add New Reading", new_reading_path, class: "button is-primary" %>
</div></div>