<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Blood Sugar Logger" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%# stylesheet_link_tag :app %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%# Chartkick with Chart.js and date adapter %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@3.0.0/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/chartkick@5.0.1" %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
